@font-face {
  font-family: 'Poppins';
  src: url(../fonts/Poppins-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

*{
    font-family: 'Poppins';
}

main{
    background-image: url(../img/FondoWeb/FondoWeb4.jpg);
    height: calc(100vh - 92.8px);
    display: flex;
    cs 
}

.nosotros_info{
    display: flex;
    flex-direction: column;
}