body{
    background-color: blueviolet;
}

.carrusel{
    width: 100%;
    height: 430px;
}

.carrusel img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* SECCIÓN - PRESENTACIÓN */

.presentacion{
    padding-top: 100px;
    padding-right: 20px;
    padding-bottom: 40px;
    padding-left: 20px;

}

.presentacion h6{
    font-family: var(--font-base);
    color: var(--global-palette6);
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 1.5;
    text-transform: capitalize;
}

.presentacion h1{
    font-family: var(--font-base);
    color: ;
    margin-bottom: 30px;
    font-size: 50px;
    line-height: 50px;
    text-align: center !important;
}